@font-face {
    font-family: 'Samba';
    src: url('Samba.ttf') format('truetype');
}

body {
	width:800px;
	color: #317d00;
	margin: 0 auto;
}

h1 {
	font-size: 48px;
	color:#ffffff;
	font-family: Samba, Sans-serif;
}

h2 {
	font-size: 32px;
	color:#ffffff;
	font-family: Samba, Sans-serif;
}

h3 {
	font-size: 32px;
	color: #154b00;
	font-family: Samba, Sans-serif;
}

h4 {
	color: #154b00;
	font-size: 24px;
	font-family: Samba, Helvetica, Sans-serif;
}

a {
	text-decoration: none;
}

.title {
	clear:both;
	text-align: center;
	margin: 0 auto;
	background-color: #f99d1c;
	width: 800px;
}

.question {
	margin: 0 25% 0 25%;
	text-align: center;
	clear:both;
}

.cards {
	height: 450px;
	width: 600;
	margin: 0 auto;
	text-align: center;
}

.round {
	text-align: center;
	font-size: 24px;
	font-family: Samba, Helvetica, Sans-serif;
	color: #ffffff;
	background-color: #5f9c00;
	clear: both;
}

.share {
	margin: 0 25% 0 25%;
	text-align: center;
	clear:both;
}

.card {
    height:420px;
    width:280px;
    border-radius: 20;
    border-style: solid;
    border-width: 5px;
    background: #ecf0f1;
    border-color: #314559;
    z-index:90;
}

.image {
    margin:25px;
    height:280px;
    width:220px;
    z-index:100;
    border-radius: 20;
    background-image:url("http://img.fifa.com/images/fwc/2014/players/prt-3/201200.png");
}

.name, .country {
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans';
    font-size:18px;
}

.country {
    vertical-align: top;
    width: 60%;
}

.people {
	font-family: Helvetica, Sans-serif;
}