<html>

<head>
	<title>World Cup of Sexy</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="/javascript/web.js"></script>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
	<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

	<div class="title">
		<a href="index.html"><h1>World Cup of Sexy</h1></a>
	</div>
	<h3 class="question">Click on the hotter player</h3>

	<div class="cards">
		<table>
			<tr>
				<td>
						<div class="card">
				        	<div class="image">
				        	</div>
					        <div class="name">
					            <p>CHRISTIANO RONALDO</p>
					        </div>
					        <div class="country">
					            <p></p><img alt="flag" src="http://img.fifa.com/images/flags/3/por.png">&nbsp;&nbsp;&nbsp;PORTUGAL</p>
					        </div>
			    		</div>
				</td>
				<td>
					<h4>vs.</h4>
				</td>
				<td>
						<div class="card">
				        	<div class="image">
				        	</div>
					        <div class="name">
					            <p>CHRISTIANO RONALDO</p>
					        </div>
					        <div class="country">
					            <p></p><img alt="flag" src="http://img.fifa.com/images/flags/3/por.png">&nbsp;&nbsp;&nbsp;PORTUGAL</p>
					        </div>
			    		</div>
				</td>
			</tr>
		</table>
	</div>

	<div class="round">
		<h2>Round Number<!-- ROUND NUMBER HERE
			First 16 comparisons: Round 1
			Next 8 comparisons: Round 2
			Next 4 comparisons: Quarterfinals
			Next 2 comparisons: Semifinals
			Last comparison: Final Round
		--></h2>
	</div>

	<div class="share">
		<h3>Share on Facebook</h3>
		<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-type="button_count"></div>
	</div>
	<div class="people">
		<p>Built by <a href="https://github.com/shriyanevatia">Shriya Nevatia</a> and <a href="https://github.com/DanielHKim">Daniel Kim</a> with help from <a href="https://github.com/bejar37">Miguel Bejar</a> and <a href="https://github.com/nteleky">Nick Teleky</a></p>
	</div>
	<br>
	<br>
	<br>

</body>

<script>$(function() { alert('hello') });</script>

</html>
